*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

html{
    max-height: 100%;
}
body{
    width: 100%;
    max-height: 10000px;
    background-color: #111111;
    color: white;
}
/*DROPDOWN*/
header ul{
    background-color:#30024e;
    overflow: hidden;
}

 header li{
    float: left;
}
header li a{
    display: inline-block;
    color: white;
    padding: 17px;
    
}

header li a:hover, .down:hover .droplink{
    background-color: red;
}

li.drop{
    display: inline-block;
}

.down{
    display: none;
    position: absolute;
    width: 100px;
}
.down a{
    display:block;
    text-align: left;
    border: 1px solid black;
    background-color:#30024e;
}

.drop:hover .down{
    display: block;
}

/*DROPDOWN FINAL*/

.banner{
    text-align: center;
    color: white;
    width: 100%;
    height: 500px;
    background: url(imagens/rock.jpg) no-repeat center;
    background-size: cover;
}

nav{
    border: 1px solid black;
}

.body{ 
    width: 80%;
    margin: 30px auto;
    color: white;
    text-align: center;
}

.body h1{
    font-size: 50px;
    margin: 20px 0;
}

.body p{
    width: 60%;
    margin: 10px auto;
    font-size: 20px;
}

footer{ 
    background-color: rgb(24, 24, 24);
    height: 80px;
    border-top: 1px solid white;
    width: 100%;
    margin-top: 20px;
}

footer ul{
margin: 30px 10px;
}

footer li{
    display: inline;
}
footer li h4,footer li h3{
    display: inline;
    margin-right: 100px;
}
 
.body ul li{
    font-size:20px ;
}
.albuns{
    margin: 20px auto;
}

.albuns p{
 width: 500px;
 margin: 17px auto;
}

.albuns img{
    width: 700px;
}
  

.link {
    margin-top: 151px;
    color: #8948b4;
    font-size: 20px;
    border: 1px solid;
    padding: 5px;
 border-radius:5px ;
}



.link:hover{
    background-color: blue;
    color: white;

}

#ac{
    margin: 30px auto;
}

#iron{
    margin: 30px auto;
}

.content{
    display:flex;
    height: 100%;
}

.content p{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 500px;
    font: arial;
}

.right{
   text-align: center;
    width: 50%;
    height: 1200px;
    font-size: 20px;
    overflow: hidden;
}

.right img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    height: 540px;
}


.left{
    text-align: center;
    width: 50%;
    height: 1200px;
    background-color: #222222;
}

.left img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    height: 300px;
    width: 80%;
}



.top{
    text-align: center;
    font-size: 20px;
    height: 600px;
 border-bottom: 0.2px dashed;
}

.bottom{
    text-align: center;
    font-size: 20px;
    height: 600px;
  border-top: 0.2px dashed;
}


.content a{
    color: red;
}

.content a:hover{
    background-color: blue;
    color: white;
}

.body h1{
    color: #f6ffa3;
    font-size: 44px;
}

.body h2{
    font-size: 30px;
    margin: 10px auto;
}

.title{
    margin-top: 10px;
    padding: 10px 10px;
    border-right:1px solid white;
    border-left: 1px solid white;
   display: inline-block;
}

.body ul{
    margin: 10px auto;
}

hr{
    margin: 20px 0;
}

h1{
color: #f6ffa3;
}

.banner_al{
    width: 400px;
}
